.people_finder
config/credentials.yml
log/*.log
tmp/**/*
tmp/*.*
pkg/**/*
vendor/plugins/acts_as_solr/solr/solr/data/development/**/*
vendor/plugins/acts_as_solr/solr/logs
vendor/plugins/acts_as_solr/solr/tmp

