<%= fb_title 'Contact' %>

<h3>Contact Information</h3>

<p>
<b>Web site:</b> <a href='<%= contact_web_site_url %>'>about the app developer</a>
</p>

<p><b>Email contact</b> <%= mail_to "#{contact_email}", nil,
                                    :encode => 'hex', 
                                    :replace_at => ' AT ', :replace_dot => ' _ ', 
                                    :subject => "#{app_name} Contact" %>.</p>