<%= fb_title 'Terms of Use' %>

<h3><%= app_name %> - TERMS OF USE</h3>

<p>
This People Finder application was launched by IBM in order to create a place where Facebook users can obtain or add information about friends and family present in Japan when the earthquake and tsunami of March 11, 2011 hit.  By using People Finder, Facebook users (“you”) agree to the following terms with IBM, the application host (hereinafter, the "Host").  If you do not wish to comply with these terms, you should not use the People Finder application. Host reserves the right at its sole discretion to change, add to, or remove these terms at any time. Notice of changes to these terms will be made on this website. Your continued use of People Finder after such changes will constitute your acceptance.
</p>

<p>By using People Finder, you agree to the following:</p>

<p>
By using the People Finder Application, you agree to comply with the People Finder Application’s Terms of Use, the People Finder Application’s Privacy Policy, Facebook’s Terms of Use and the Facebook Code of Conduct. 
</p>

<p>You are at least 18 years of age.</p>

<p>
Host can exclude any participant in People Finder Application at any time for any reason in Host’s sole discretion. 
</p>

<p>
Host respects the privacy of People Finder Application participants. However, Host maintains the right to monitor the activities or postings of participants (or be alerted to the same), if Host believes such action is necessary to comply with the law or act in an emergency. 
</p>

<p>
You understand and agree that Host may, in its sole discretion, but is not obligated to, delete or remove any content that in his sole judgment violates these Terms of Use, or which might be offensive, illegal, or that might violate the rights, harm or threaten the safety of other users or others. 
</p>

<p>
You agree to respect copyright, fair use and financial disclosure laws, including, but not limited to complying with all the requirements outlined under the sections User Conduct, User Content Posted on the Site and other relevant terms in Facebook’s Terms of Use. 
</p>

<p>
When you post content, you automatically grant to Host, and you represent and warrant that you have the right to grant to Host, an irrevocable, perpetual, non-exclusive, transferable, fully paid, worldwide license (with the right to sublicense) to use, copy, publicly perform, publicly display, reformat, translate, excerpt (in whole or in part) and distribute user content for any purpose, on or in connection with People Finder Application or the promotion of the People Finder Application, to prepare derivative works or, or incorporate into other works, such content, and to grant and authorize sublicenses of the foregoing. 
</p>

<p>
You agree not to include on your People Finder application posts on or provide to Host any confidential or proprietary information belonging to you or any third party. 
</p>

<p>
You agree not to include in your posts on the People Finder Application or provide to Host any harmful, threatening, unlawful, defamatory, infringing, abusive, inflammatory, harassing, vulgar, obscene, fraudulent, hateful or racially, ethnically, or otherwise objectionable content or any content that would constitute or encourage a criminal offense, violate the rights of any party or that would otherwise give rise to liability or violate any law. 
</p>

<p>
You agree to show proper consideration for others’ privacy and for topics that may be considered objectionable or inflammatory -- such as politics or religion. You agree to fully comply with the requirements outlined in the Facebook Terms of Use, including but not limited to, all the requirements outlined under the section User Conduct. 
</p>

<p>
You agree that Host’s only role in the People Finder Application is limited to the establishment of the People Finder application and its launch. 
</p>

<p>
HOST IS NOT RESPONSIBLE FOR THE CONTENT OR ACCURACY OF ANY INFORMATION POSTED BY USERS OF THE APPLICATION. USERS SHALL REMAIN SOLELY RESPONSIBLE FOR THE [THEIR PROFILES], THE CONTENT OF THEIR POSTINGS AND ANY OTHER INFORMATION THEY POST TO THIS APPLICATION.
</p>

<p>
THE PEOPLE FINDER APPLICATION IS PROVIDED AS IS; AND WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED. TO THE FULLEST EXTENT PERMISSIBLE PURSUANT TO APPLICABLE LAW, HOST DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE. HOST DOES NOT WARRANT THAT THE FUNCTIONS CONTAINED IN THE People Finder APPLICATION WILL BE UNINTERRUPTED OR ERROR-FREE, THAT DEFECTS WILL BE CORRECTED, OR THAT THIS APPLICATION OR THE SERVER THAT MAKES THE APPLICATION AVAILABLE ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS. HOST DOES NOT WARRANT OR MAKE ANY REPRESENTATIONS REGARDING THE USE OR THE RESULTS OF THE USE OF THE People Finder APPLICATION IN THIS SITE IN TERMS OF THEIR CORRECTNESS, ACCURACY, RELIABILITY, OR OTHERWISE. 
</p>

<p>
APPLICABLE LAW MAY NOT ALLOW THE EXCLUSION OF IMPLIED WARRANTIES, SO THE ABOVE EXCLUSION MAY NOT APPLY TO YOU.
</p>

<p>
UNDER NO CIRCUMSTANCES, INCLUDING, BUT NOT LIMITED TO, NEGLIGENCE, WILL HOST BE LIABLE TO YOU OR ANY THIRD PERSON FOR ANY INDIRECT, INCIDENTAL, PUNITIVE OR CONSEQUENTIAL DAMAGES, INCLUDING LOST DATA, ARISING FROM THE USE OF, OR THE INABILITY TO USE, THIS People Finder APPLICATION, EVEN IF HOST HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. 
</p>

<p>
IN NO EVENT WILL HOST’s TOTAL LIABILITY TO YOU FOR ALL DAMAGES, LOSSES, AND CAUSES OF ACTION (WHETHER IN CONTRACT, TORT (INCLUDING, BUT NOT LIMITED TO, NEGLIGENCE), OR OTHERWISE) EXCEED $500. APPLICABLE LAW MAY NOT ALLOW THE LIMITATION OR EXCLUSION OF LIABILITY OR INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THE ABOVE LIMITATION OR EXCLUSION MAY NOT APPLY TO YOU. HOST IS PROVIDING the People Finder Application AS IS WITHOUT ANY EXPRESS OR IMPLIED WARRANTIES INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT. 
</p>

<p>
HOST DOES NOT GUARANTEE THAT the People Finder Application WILL BE SAFE OR SECURE. 
</p>

<p>
THE PEOPLE FINDER APPLICATION IS NOT RESPONSIBLE FOR THE ACTIONS, CONTENT, INFORMATION, OR DATA OF THIRD PARTIES, AND YOU RELEASE HOST, ITS SUCCESSORS AND ASSIGNS FROM ANY CLAIMS AND DAMAGES, KNOWN AND UNKNOWN, ARISING OUT OF OR IN ANY WAY CONNECTED WITH ANY CLAIM YOU HAVE AGAINST ANY SUCH THIRD PARTIES. IF YOU ARE A CALIFORNIA RESIDENT, YOU WAIVE CALIFORNIA CIVIL CODE §1542, WHICH SAYS: A GENERAL RELEASE DOES NOT EXTEND TO CLAIMS WHICH THE CREDITOR DOES NOT KNOW OR SUSPECT TO EXIST IN HIS FAVOR AT THE TIME OF EXECUTING THE RELEASE, WHICH IF KNOWN BY HIM MUST HAVE MATERIALLY AFFECTED HIS SETTLEMENT WITH THE DEBTOR.
</p>

<p>
Host can terminate these Terms of Use, and your access to the People Finder Application, immediately without notice if, in Host’s discretion, you fail to comply with any term or provision of the Terms of Use. 
</p>

<p>
The People Finder Application Terms of Use will be governed by the substantive laws of the State of New York. Any proceedings to resolve disputes relating to the People Finder Terms of Use shall be brought in a U.S. Federal Court in the State of New York. You expressly waive the right to trial by jury in any matter which arises under the People Finder Application Terms of Use. 
</p>

<p>
You expressly agree that the sections entitled “Governing Law; Venue and Jurisdiction” and “Arbitration” found in the Facebook Terms of Use do not apply to the People Finder Terms of Use.
</p>