<fb:title>List of updates you have contributed</fb:title>

<br/>

<h3>List of updates you have contributed</h3>

<br/>

<p>
<small>
<b>Thank you</b> for helping collect, update, and spread information to help save lives!
</small>
</p>

<%= render :partial => 'survivor_updates/survivor_updates_list', 
           :locals => {:survivor_updates => @survivor_updates} %>