<br/>

<h3>Map of all Locations</h3>

<br/>

<div id='google-map' align='right'>
<fb:iframe src='<%= "#{haiti_quake_survivors_raw_url}/locations/show_locations_map" %>' frameborder='0' width='750' height='450'>
  <%= render :controller => 'locations', :action => 'show_locations_map' %>
</fb:iframe>